pre.mobile {
    /* color: red; */
    font-size: 200%;
    font-weight: bolder;
}

p.mobile {
    font-size: 300%;
    font-weight: bolder;
}

button.mobile {
    font-size: 300%;
    font-weight: bolder;
}
